<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kigali Dermatology Center</title>
    <link rel="stylesheet" href="{% static 'css/dashboardapp.css' %}" />
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><img src="{% static 'img/logo.png' %}" alt="" /></span>
              <span class="title">Kigali Dermatology Center</span>
            </a>
          </li>

          <li>
            <a href="{% url 'Dashboard' %}">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="{% url 'appointments_list' %}">
              <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
              <span class="title">Appointment</span>
            </a>
          </li>
          <li>
            <a href="{% url 'kdclogout' %}">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="search">
            <label>
              <input type="text" placeholder="Search here" />
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div>

          <div class="user">
            <img src="{% static 'img/customer02.jpg' %}" alt="" />
          </div>
        </div>

        <div class="details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Total Appointment</h2>
            </div>

            <table>
              <thead>
                <tr>
                  <td>Full Name</td>
                  <td>Phone</td>
                  <td>Email</td>
                  <td>Type</td>
                  <td>insurance</td>
                  <td>Date</td>
                  <td>Status</td>
                  <td>Action</td>
                </tr>
              </thead>

              <tbody>
                {% for appointment in appointments %}
                  <tr>
                    <td>{{ appointment.names }}</td>
                    <td>{{ appointment.phone }}</td>
                    <td>{{ appointment.email }}</td>
                    <td>{{ appointment.appointment_type }}</td>
                    <td>{{ appointment.insurance }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>
                      {% if appointment.appointment_status == 'Pending' %}
                        <span class="status pending">Pending</span>
                      {% elif appointment.appointment_status == 'Cancelled' %}
                        <span class="status return">Cancelled</span>
                      {% elif appointment.appointment_status == 'Confirmed' %}
                        <span class="status delivered">Confirmed</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if appointment.appointment_status == 'Pending' %}
                        <button style="background-color: green; color: white; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer;">Confirm</button>
                        <button style="background-color: red; color: white; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer; margin-left:10px;">Cancel</button>
                      {% elif appointment.appointment_status == 'Cancelled' %}
                        <p style="color: red; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer;">Denied</p>
                      {% elif appointment.appointment_status == 'Confirmed' %}
                        <button style="background-color: green; color: white; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer;">Approved</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- =========== Scripts ========= -->
    <script src="{% static 'js/admin.js' %}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
