<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>KDC Admin</title>
  <link rel="stylesheet" href="{% static 'admin/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">

  <link rel="stylesheet" href="{% static 'admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/js/select.dataTables.min.css' %}">

  <link rel="stylesheet" href="{% static 'admin/css/vertical-layout-light/style.css' %}">
  <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
</head>
<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url "Dashboard" %}"><img src="{% static "admin/images/logo.png"%}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url "Dashboard" %}"><img src="{% static "admin/images/logo.png"%}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static "admin/images/faces/face28.jpg" %}" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
  
        </ul>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url "Dashboard" %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url "appointments_list" %}" >
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Appointments</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url "result_list" %}">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Results</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url "kdclogout" %}">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome</h3>
                  <h6 class="font-weight-normal mb-0">Systems is running smoothly! You have <span class="text-primary">{{pending}} pending appointment!</span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="{% static "admin/images/dashboard/people.svg" %}" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-clock mr-2"></i>{{current_time_kigali}}</h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Kigali</h4>
                        <h6 class="font-weight-normal">Rwanda</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-12 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Pending</p>
                      <p class="fs-30 mb-2">{{pending}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card badge-success">
                    <div class="card-body">
                      <p class="mb-4">Confirmed</p>
                      <p class="fs-30 mb-2">{{confirmed}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-light-danger">
                    <a href="{% url "cancelled" %}" style="text-decoration: none;">
                    <div class="card-body">
                      <p class="mb-4" style="color:white">Cancelled</p>
                      <p class="fs-30 mb-2" style="color:white">{{cancelled}}</p>
                    </div>
                  </a>
                  </div>
                </div>
                <div class="col-md-12 mb-4 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">All</p>
                      <p class="fs-30 mb-2">{{allappointment}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Kigali Dermatology<i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'admin/vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'admin/js/dataTables.select.min.js' %}"></script>

<script src="{% static 'admin/js/off-canvas.js' %}"></script>
<script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin/js/template.js' %}"></script>
<script src="{% static 'admin/js/settings.js' %}"></script>
<script src="{% static 'admin/js/todolist.js' %}"></script>
<script src="{% static 'admin/js/dashboard.js' %}"></script>
<script src="{% static 'admin/js/Chart.roundedBarCharts.js' %}"></script>
</body>

</html>

